@{
    ViewBag.Title = "Index";
}

<center>
    <h1>---</h1>
    <br />
    <a href="/Default/PersoneXLMWeb">
        PersoneXLMWeb
    </a>
    <br />
    <a href="/Default/XMLReadWrite">
        XMLReadWrite
    </a>
</center>